<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--要引用log4net 相關ConfigurationSection-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <!--訊息格式 EX: 2016-03-01 18:15:59,912 [10] INFO  Log4netTest.Program - 9-->
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--檔名設定為example.log-->
      <file value="d:/log/example.log" />
      <appendToFile value="true" />
      <!--檔案最大容量-->
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <!--印出 日期 Thread編號 層級 Logger名稱 訊息-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Modbus." />
        <acceptOnMatch value="false" />
      </filter>
    </appender>

    <appender name="DIORollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--檔名設定為example.log-->
      <file value="d:/log/DIO/Transaction.log" />
      <appendToFile value="true" />
      <!--檔案最大容量-->
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <!--印出 日期 Thread編號 層級 Logger名稱 訊息-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Modbus." />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="TransferRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--檔名設定為example.log-->
      <file value="d:/log/Transfer/Transaction.log" />
      <appendToFile value="true" />
      <!--檔案最大容量-->
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <!--印出 日期 Thread編號 層級 Logger名稱 訊息-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="TransferControl." />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <connectionString value="server=192.168.5.126;port=3307;user id=sanwa;password=sanwa_adam;database=adam;" />
      <commandText value="INSERT INTO log_service(date,thread,level,logger,message,exception) VALUES (?log_date, ?thread, ?log_level, ?logger, ?message, ?exception);" />
      <parameter>
        <parameterName value="?log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="?thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?message" />
        <dbType value="String" />
        <!--<dbType value="String" />
        <size value="4000" />-->
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
   
    <root>
      <!--Level為INFO的Log才會寫出-->
      <level value="DEBUG" />
      <!--印到Console上-->
      <appender-ref ref="ConsoleAppender" />
      <!--寫出至檔案-->
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="DIORollingFileAppender" />
      <appender-ref ref="TransferRollingFileAppender" />
      <!--寫出至DB-->
      <!--<appender-ref ref="AdoNetAppender" />-->
    </root>
    <!--<logger name="Database">
      <level value="INFO" />
      --><!--寫出至DB--><!--
      <appender-ref ref="AdoNetAppender" />
    </logger>-->
  </log4net>
</configuration>